.slide-input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1px 0;
	max-width: 350px;
	width: calc(100% - 2px);
	vertical-align: top;
}

.input-field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8px;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input-field:focus {
 outline: none;
}

.input-label {
 display: inline-block;
 float: right;
 padding: 0 1px;
 width: 40%;
 color: #6a7989;
 font-weight: bold;
 font-size: 70.25%;
 -webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.input-label-content {
 position: relative;
 display: block;
 padding: 1.6px 0;
 width: 100%;
}

.graphic {
 position: absolute;
 top: 0;
 left: 0;
 fill: none;
}

.icon {
 color: #ddd;
 font-size: 150%;
}

/* Individual styles */

/* Hoshi */
 .input-slide {
 	overflow: hidden;

	.input-field-slide {
  	margin-top: 1px;
  	padding: 0.85px 0.15px;
  	width: 100%;
  	background: transparent;
  	color: #595F6E;
  }

  .input-label-slide {
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	padding: 0 0.25px;
  	width: 100%;
  	height: calc(100% - 1px);
  	text-align: left;
  	pointer-events: none;
  }

  .input-label-content-slide {
  	position: absolute;
  }

 }


 .input-label-slide::before,
 .input-label-slide::after {
 	content: '';
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: calc(100% - 10px);
 	border-bottom: 1px solid #B9C1CA;
 }

 .input-label-slide::after {
 	margin-top: 2px;
 	border-bottom: 4px solid red;
 	-webkit-transform: translate3d(-100%, 0, 0);
 	transform: translate3d(-100%, 0, 0);
 	-webkit-transition: -webkit-transform 0.3s;
 	transition: transform 0.3s;
 }

 .input-label-slide-color-1::after {
 	border-color: hsl(200, 100%, 50%);
 }

 .input-label-slide-color-2::after {
 	border-color: hsl(160, 100%, 50%);
 }

 .input-label-slide-color-3::after {
 	border-color: hsl(20, 100%, 50%);
 }

 .input-field-slide:focus + .input-label-slide::after,
 .input-filled .input-label-slide::after {
 	-webkit-transform: translate3d(0, 0, 0);
 	transform: translate3d(0, 0, 0);
 }

 .input-field-slide:focus + .input-label-slide .input-label-content-slide,
 .input-filled .input-label-content-slide {
 	-webkit-animation: anim-1 0.3s forwards;
 	animation: anim-1 0.3s forwards;
 }

 @-webkit-keyframes anim-1 {
 	50% {
 		opacity: 0;
 		-webkit-transform: translate3d(1px, 0, 0);
 		transform: translate3d(1px, 0, 0);
 	}
 	51% {
 		opacity: 0;
 		-webkit-transform: translate3d(-1px, -40%, 0);
 		transform: translate3d(-1px, -40%, 0);
 	}
 	100% {
 		opacity: 1;
 		-webkit-transform: translate3d(0, -40%, 0);
 		transform: translate3d(0, -40%, 0);
 	}
 }

 @keyframes anim-1 {
 	50% {
 		opacity: 0;
 		-webkit-transform: translate3d(1px, 0, 0);
 		transform: translate3d(1px, 0, 0);
 	}
 	51% {
 		opacity: 0;
 		-webkit-transform: translate3d(-1px, -40%, 0);
 		transform: translate3d(-1px, -40%, 0);
 	}
 	100% {
 		opacity: 1;
 		-webkit-transform: translate3d(0, -40%, 0);
 		transform: translate3d(0, -40%, 0);
 	}
 }
