.app-navigation-container {
  .app-navigation {
    display: flex;
    justify-content: center;
    width: 100%;

    .active-page {
      color: #f3f3f3;
    }

    & > * {
      border-right: 1px solid #ccc;
      padding: 0 8px;
      /* remove separator for last child */
      &:last-child {
        border-right: 0;
      }
    }

  }
}
