$page-title-color: #efefef;

$fa-font-path:        "../../resources/styles/font-awesome/fonts";
@import '../../resources/styles/font-awesome/scss/font-awesome.scss';
@import 'bootstrap/scss/bootstrap.scss';

html {
  box-sizing: border-box;
  min-height: 95%;
}
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-image: url('/images/bg.jpg');
  background-size: cover;
  color: #fff !important;
  #mount {
    background-color: rgba(0, 0, 0, .5);
    min-height: 100%;
  }

  a {
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }

  button:disabled {
    cursor: not-allowed;
  }
}

.app-container {
  background-color: rgba(0, 0, 0, .5);
  padding-top: 10px;
  position: fixed;
  width: 100%;

  .header-section {
    display: flex;
    align-items: center;

    .logo-content {
      flex-grow: 1;
    }
    .page-title {
      flex-grow: 2;
      color: $page-title-color;
      cursor: default;
      margin-top: 0;
      text-align: center;
    }
    .global-actions {
      flex-grow: 1;
      text-align: right;
      .btn {
        color: wheat;
      }
    }
  }
}

.route-not-found {
  color: #aaa;
  padding-top: 50px;
  text-align: center;
  .not-found-title {
    margin-bottom: 75px;
    font-size: 4.5em;
  }
  .not-found-text {
    font-size: 3em;
  }
}

.component-container {
	display: flex;
	flex-wrap: wrap;
  counter-reset: buttons;
	.component-wrapper {
		color: #f3f3f3;
		width: 33.33%;
		min-width: 250px;
    .component-title {      
      &::before {
        counter-increment: buttons;
        content: counter(buttons) ". ";
      }
    }
	}
}

.action-container {
  background-color: #707070;
  padding: 9px;
}