.component-list {
  .component-section {
    padding: 5px;
    .section-item {
      border-right: 1px solid #888;
      padding: 0 8px;
      &.selected-component {
        color: #f3f3f3;
      }
    }
  }
  .component-container {
    padding: 0 20px;
  }
}
